.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-brand p {
  margin-bottom: 0;
  margin-left: 0.5rem;
}

#navSecundaria {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 30px !important;
}

body a {
  text-decoration: none;
  color: #ff9633;
}

body a:hover {
  color: #ff5233;
}

h3 {
  text-align: center;
  margin-top: 24px !important;
  margin-bottom: 0 !important;
}

h4 {
  color: rgb(49, 163, 87);
  text-align: center;
  margin-top: 32px !important;
}

h5 {
  color: rgb(255, 8, 0);
  text-align: center;
  margin-top: 32px !important;
}

section.formulario {
  display: flex;
  justify-content: center;
}

section form {
  width: 500px;
  margin: 16px 0 32px;
}

form input {
  font-size: 0.8rem !important;
  height: 3rem;
  border-radius: 8px !important;
}

form .submit {
  text-align: center;
}

form .submitBt {
  font-size: 1rem !important;
  font-weight: 700;
  text-align: center;
  height: 3.2rem;
  width: 10rem;
  color: #fff;
  background-color: #ff9633;
  border: none;
  border-radius: 8px !important;
  margin-top: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form .submitBt:hover {
  background-color: #ff5233;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

body table {
  display: flex;
  justify-content: center;
}

body .col,
body table th,
body table td {
  border: 1px solid rgba(39, 41, 43, 0.1);
}

body table th,
body table td {
  padding: 0 8px;
  max-width: 250px;
}

body div.container .row:first-child,
body table tbody {
  margin-top: 24px;
}

body .tabela {
  width: 40rem;
}
